@{
    ViewData["Title"] = "Welcome Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: black;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 0 20px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 2.5rem;
            color: green;
            margin-top: 50px;
        }

        p {
            font-size: 1.2rem;
            color: black;
            margin-bottom: 50px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <p>To the best Renting House in Bulgaria</p>
        <img src="https://i.ytimg.com/vi/J2tW8GHYnfQ/maxresdefault.jpg" alt="No image found!" width="400" height="200">
    </div>
</body>
</html>
